$navMenuSvgSize: em(24);

.navbar-brand,
.customer-icons-wrp {
  margin: 0 em(30);
}

.menu-icon {
  display: block;
  margin: 0 auto em(6);
  height: $navMenuSvgSize;
  width: $navMenuSvgSize;
}

.menu-text {
  font-size: em(18);
}

.nav-link:hover {
  color: $primary;

  svg {
    fill: $primary;
  }
}

.nav-link.active {
  color: $primary !important;

  .menu-icon {
    fill: $primary;
  }
}

.customer-icons-wrp {
  .country-icon {
    font-size: em(19.2);
  }

  .currency-icon {
    font-size: em(18);
    font-weight: bolder;
    padding-top: em(6);
  }
}

.customer-icon {
  height: $navMenuSvgSize;
  width: $navMenuSvgSize;
}

.back-to-top {
  position: fixed;
  bottom: em(16);
  right: em(16);
}
